.pure-g{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pure-u-1-2{
    height:fit-content
}

.pure-u-1{
    text-align: center;
}

#text_div p{
    text-align: justify;
    column-count: 2;
    column-gap: 1.5pc;
    font-size: small;
}

#note{
    font-style: italic;
    font-size: smaller;
}